.feed-form {
    margin-top: 16px;
    padding: 0 160px;
    width: 1140px;
    height: 166px;
    position: relative;
    &::before,
    &::after {
        content: '';
        display: inline-block;
        background-color: #898989;
        height: 166px;
        width: 1px;
        position: absolute;
        left: 100%;
        top: -40%;
        opacity: 0.5;
    }
    &:before {
        right: 100%;
        left: 0;
    }
    input {
        width: 268px;
        height: 45px;
        border: 1px solid #898989;
        // opacity: .8;
        border-radius: 20px;
        color: #101010;
        font-size: 13px;
        font-weight: 300;
        padding-left: 27px;
    }
}